.scrollTop {
  background: transparent url("../../assets/sprite.png") 0 -217px no-repeat;
  width: 118px;
  height: 90px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -59px;
  bottom: 142px;
  text-indent: -9999px;
}
